{% load static %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a href="{% url 'index' %}">
                <img src="{% static 'assets/logo/logo.png' %}" alt="logo do gabe's grow" height="50">
            </a>
            <div class="row">
                <a class="col col-sm-6" href="{% url 'config' 1 %}">config</a>
                {% if user.is_authenticated %}
                    <a class="col col-sm-6" href="{% url 'logout' %}">logout</a>
                {% else %}
                    <a class="col col-sm-6" href="{% url 'login' %}">login</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>
