{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <form action="{% url 'editConfig'  config.id %}" method="POST" >
                    {% csrf_token %}
                    <div class="form-data" v-if="!submitted">
                        {%  for field in form.visible_fields %}
                            <div class="forms-inputs mb-4" style="margin-bottom: 5px;">
                                <label for="{{ field.id_for_label }}" class="col-6 col-md-6" style="margin-bottom: 5px;">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="mb-3">
                            <button class="btn btn-success col-6 col-md-6" style="padding: top 5px;" type="submit">save changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                {% if config.stageType == 'VG' %}
                    <img src="{% static 'images/veg.png' %}" alt="Vegetative stage">
                {% elif config.stageType == 'FL' %}
                    <img src="{% static 'images/flow.png' %}" alt="Flowering stage">
                {% else %}
                    <img src="{% static 'images/pre.png' %}" alt="Pre-harvest stage">
                {% endif %}
            </div>
            <p class="mt-5 col-md-12">
                Last Update: {{ config.lastUpdate }}
                {{ config.watering }}
            </p>
        </div>
    </div>
</div>
{% endblock %}