{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main role="main" class="inner cover mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Stage</th>
                <th scope="col">Lights on for (h)</th>
                <th scope="col">pH</th>
                <th scope="col">Temperature (°C)</th>
                <th scope="col">Air Humididity (%)</th>
                <th scope="col">Soil Humididity (%)</th>
            </tr>
        </thead>
        <tbody>
            {%  for stage in stages %}
                <tr>
                    <td>{{ stage.type }}</td>
                    <td>{{ stage.lightOnFor }}</td>
                    <td>{{ stage.phMin }} - {{ stage.phMax }}</td>
                    <td>{{ stage.tempMin }} - {{ stage.tempMax }}</td>
                    <td>{{ stage.airHumMin }} - {{ stage.airHumMax }}</td>
                    <td>{{ stage.soilHumMin }} - {{ stage.soilHumMax }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
