<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>gabe's grow</title>
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/favicon/favicon.ico' %}" rel="icon" type="image/x-icon" >

</head>
<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        {% include 'dashboard/partials/nav.html' %}

        {% include 'dashboard/partials/message.html' %}

        {% block content %}
        {% endblock %}

        {% include 'dashboard/partials/footer.html' %}
    </div>

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>